<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>QuesitonListComponent</h2>
    </div>

    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Typpe</th>
                        <th>Question</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let question of questions">
                        <td>  {{ question.type }}  </td>
                        <td>  {{ question.title }}  </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
