<div class="row">
    <div class="offset-lg-1 col-lg-10 col-sm-12">

        <h2>{{ title }}</h2>


        <div class="panel-body">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Question Title</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let question of questions; index as i">
                    <td> {{ i + 1 }}</td>
                    <td> {{ question.type }}</td>
                    <td> {{ question.title }}</td>
                    <td>
                        <a class="btn btn-primary"
                           [routerLink]="['questionEdit', question.id]">
                            Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
