<div class="row">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading text-left">
                <h3 class="panel-title">{{question.title}}</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    Type: <span>{{question.type}}</span>
                </div>
                <div class="col-md-2">
                    Cost: <span>{{question.cost}}</span>
                </div>
            </div>
        </div>
    </div>
</div>