<div id="quiz">
    <div class="progress"></div>
    <div class="intro">
        <h2>Welcome</h2>
        <p>Click 'Begin' to test your knowledge of Ecology</p>
        <p class="btn">Begin</p>
    </div>
    <div class="question">
        <div class="txt">Термин «экология» предложил:</div>
        <div class="answer correct">Э. Геккель</div>
        <div class="answer">В. И. Вернадский</div>
        <div class="answer selected">Ч. Дарвин</div>
        <div class="answer">А. Тенсли</div>
        <div class="feedback">
            <p>You are <strong>correct</strong></p>
            <p>Oops! That is not correct</p>
            <p>Additional feedback</p>
            <div class="btn">Continue</div>
        </div>
    </div>
    <div class="result"></div>
</div>